fastapi
uvicorn
requests
pymongo
python-dotenv
certifi
bcrypt
# --- AI & LangChain ---
langchain
langchain-groq
langchain-community
langchain-core
duckduckgo-search
# --- Image Generation (החדשים) ---
huggingface_hub
pillow