fastapi
uvicorn
requests
pymongo
python-dotenv
certifi
bcrypt
httpx
pydantic
pydantic-settings
# --- AI & LangChain ---
langchain
langchain-google-genai
langchain-groq
langchain-community
langchain-core
duckduckgo-search
# --- Image Generation ---
huggingface_hub
pillow