langchain
langchain-community
langchain-groq
langchain-google-genai
ddgs
python-dotenv
fastapi
uvicorn
transformers
pydantic
pydantic-settings
huggingface_hub
Pillow
fastmcp
langchain-mcp-adapters
sse-starlette
httpx
mcp
